<div class="row">
  <div class="col-md-12 parent">
    <h2 class="violet">Convertir<span class="hidden-xs"> une date</span> <small>(<a class="exemples showhide"
        data-link-text="Exemples"
        tabindex="3"
        href="#">Exemples</a>)</small></h2>
    <div class="alert alert-info btnlh description" role="alert">
      <strong>Cliquez sur une date pour tester la conversion : </strong><br>
      <button type="button" class="btn btn-default btn-exemple">5/12/1792</button>
      <button type="button" class="btn btn-default btn-exemple">6 décembre 1792</button>
      <button type="button" class="btn btn-default btn-exemple">7 Xbre 1792</button>
      <button type="button" class="btn btn-default btn-exemple">17 frimaire an IV</button>
      <button type="button" class="btn btn-default btn-exemple">1 Jer 1793</button>
      <button type="button" class="btn btn-default btn-exemple">1er jan 1794</button>
    </div>
  </div>
</div>
<div class="row">
  <div id="jour_debrider" class="col-md-6 parent">
    <div id="validation_de_jour">
      <label class="sr-only" for="jour">Jour</label>
      <input class="form-control glowing"
        tabindex="1"
        id="jour"
        type="search"
        placeholder="Entrez une date ici !">
    </div>
    <div class="checkbox">
      <label>
        <input id="debrider"
          tabindex="2"
          type="checkbox"
          value=""
          placeholder="Débrider">
        <span class="hidden-xs">Toujours </span>afficher les correspondances (<a class="explications showhide"
          data-link-text="Explications"
          tabindex="4"
          href="#"
          >Explications</a>)
      </label>
    </div>
    <div class="alert alert-info description" role="alert"><strong>Cochez cette case pour ne pas limiter les conversions de calendriers.</strong><br>
      Sinon :<br>
       - le <a href="https://fr.wikipedia.org/wiki/Calendrier_julien">calendrier julien</a> se termine le 4 octobre 1582 ;<br>
       - le <a href="https://fr.wikipedia.org/wiki/Calendrier_gr%C3%A9gorien">calendrier grégorien</a> débute le 15 octobre 1582 ;<br>
       - le <a href="https://fr.wikipedia.org/wiki/Calendrier_r%C3%A9publicain">calendrier républicain</a> fonctionne du 22 septembre 1792 au 31 décembre 1805 (puis de mars à mai 1871 pendant la Commune de Paris).
     </div>
  </div>
  <div class="col-md-6" id="affichage_de_jour">
    <table class="table table-bordered table-hover table-striped"><tbody></tbody></table>
  </div>
</div>
