<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="pull-right btn btn-outline-inverse hidden-xs" href="{{ homepage }}#sommaire">Développeurs » </a>
        <img src="demo/img/logo-blanc.png" class="img-responsive logo" alt="logo">
        <br><p>Une librairie pour manipuler les dates<span class="hidden-xs"> grégoriennes, républicaines et juliennes</span></p>
      </div>
    </div>
  </div>
</div>
