{
    #"extends": "../.eslintrc",
    "extends": "../../.eslintrc",

    "rules": {
      "no-unused-vars": 0, // constants sont utilisées dans functions et classes
      "no-undef": 0, // classes et functions utilisent functions et constants
      "no-restricted-syntax": 0,
      "max-len": [2, 78, 2, { // 80 - 2 = indentation du module UMD
        "ignoreUrls": true,
        "ignoreComments": false
      }],
    },
}
