/*!
 * Acte.js demo CSS
 * http://gtoubiana.github.io/acte/
 *
 * © 2015-Present, Gilles Toubiana
 * License MIT
 */


/* = Bootstrap = */

body {
  /* padding-top: 50px; */
  padding-bottom: 20px;
}

input[type="search"] {
  -moz-appearance: searchfield;
  -webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.jumbotron {
  background-attachment: fixed;
  background-color: #eee;
  background-image: url("../img/background.jpg");
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.jumbotron p {
  color: #eee;
  font-weight: 400;
}

a.btn-outline-inverse:link,
a.btn-outline-inverse:visited {
  background-color: transparent;
  border-color: #ddd;
  color: #eee;
}

a.btn-outline-inverse:hover,
a.btn-outline-inverse:focus,
a.btn-outline-inverse:active {
  background-color: #efe8b0;
  border-color: #efe8b0;
  color: #704220;
}

.panel {
  margin-top: 20px;
}

.violet {
  /* #631f64 #873694 */
  color: #873694;
}

.logo {
  clear: both;
  margin: 0 auto;
}


/* = Jquery UI autocomplete = */

input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input,
.ui-widget {
  font-size: 16px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #b0d5fa;
  border: 0;
}

.acte-input {
  background-color: #f9f9f9;
  color: #873694;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 10px;
}

.btnlh {
  line-height: 2.7;
}

.ui-widget {
  font-size: 16px;
}


/* = media queries =
@media screen and (min-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 992px) {}
*/


/* liens */

a.showhide,
.description a {
  text-decoration: underline;
}

a.showhide:hover,
.description a:hover {
  text-decoration: none;
}

a.showhide:focus {
  outline: none;
}
