body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*= Bouton reset dans le champ input =*/
input[type="search"] {
-webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: searchfield-cancel-button;
}

@media screen and (min-width: 768px) {
  .jumbotron {
      padding-top: 0px;
      padding-bottom: 0px;
  }
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: #eee;
    text-align: center;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size:cover;
}

/*= EFFET PARALLAX CSS3 =*/
/*@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  .parallax {
    transform: translateZ(-1px) scale(1.1);
  }

  .jumbotron h1, .jumbotron p {
      transform: scale(0.9);
  }
}*/

.jumbotron h1, .jumbotron p {
    color: #eee;
}

.jumbotron h1 {
    font-weight: 900;
}

.panel {
  margin-top: 20px;
}

.interrogation {
  color:#9d9d9d;
}

.fleche {
  color:#9d9d9d;
}
